* {
  margin: 0;
  padding: 0;
  font-family: "Protest Riot", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(images/cat.png);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.clock {
  text-align: center;
  color: #3b3e40;
  font-size: 2rem;
  letter-spacing: 5px;
}
#todo-list {
  max-height: 90vh;
  max-width: 80vw;
  margin: 90px auto;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  background-color: #838399;
  box-shadow: 0px 3px 8px 0px rgba(4, 4, 4, 0.2);
  border-radius: 30px;
  align-items: center;
  overflow: auto;
}
.todo {
  list-style-type: none;
  background-color: #fef2f4;
  padding: 30px 30px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  border-radius: 50px;
}
.usersId__todo {
  color: #ea7565;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.todo-title {
  display: flex;
  text-align: center;
  color: #838399;
  font-size: 1rem;
}

/* small screen */
@media screen and (min-width: 1024px) {
  #todo-list {
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width: 1024px) {
  #todo-list {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  #todo-list {
    grid-template-columns: repeat(1, auto);
  }
  body {
    background: url(images/phone.jpg);
  }
  h1 {
    font-size: 2rem;
  }
  .clock {
    font-size: 2rem;
  }
}
